<html>
    <body>
        <center>
            <form action="emlakekleadim2.php" method="post">
                <table cellpadding="5" cellspacing="0">
                    <tr>
                        <td>Emlak Tipi</td>
                        <td>:</td>
                        <td>
                            <select name="emlaktipi">
                                {html_options values=$emlak_tablo output=$emlak_tipleri}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3">
                            <input type="submit" value="Devam Et">
                        </td>
                    </tr>
                </table>
            </form>
        </body>
    </center>
</html>

